<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-size: 12px; font-family: 'Roboto', sans-serif; background-color: white;">
    {{#each data.banks}}
        <table style="width: 100%;">
            <tr style="background-color: #999;">
                <td style="padding: 7px;"><b>Bank Name: {{bank}}</b></td>
                <td style="padding: 7px;"><b>Bank Account Number: {{account}}</b></td>
                <td style="padding: 7px;"><b>No. of Transactions: {{transactions}}</b></td>
                <td style="padding: 7px;"><b>Total Credits: {{credits}}</b></td>
                <td style="padding: 7px;"><b>Total Debits: {{debits}}</b></td>
            </tr>
            <tr>
                <td colspan="5" style="padding: 7px; background-color: #999;">
                    <b>Average Balance</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 7px; border: 1px solid #999;">Month</td>
                <td colspan="3" style="padding: 7px; border: 1px solid #999;" colspan="2">Amount</td>
            </tr>
            {{#each avg_balances}}
            <tr>
                <td style="padding: 7px; border: 1px solid #999;" colspan="2">{{@key}}</td>
                <td style="padding: 7px; border: 1px solid #999;" colspan="3">{{.}}</td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="5" style="padding: 7px; background-color: #999;">
                    <b>Repeating Credit</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 7px; border: 1px solid #999;">Month</td>
                <td colspan="3" style="padding: 7px; border: 1px solid #999;" colspan="2">Amount</td>
            </tr>
            {{#each repeating_credits}}
            <tr style="background-color: rgb(0, 141, 0);">
                <td colspan="2" style="padding: 7px; border: 1px solid #999;">{{@key}}</td>
                <td colspan="3" style="padding: 7px; border: 1px solid #999;">
                    {{#each .}}
                        <table style="width: 100%;">
                            <tr>
                                <td style="padding: 7px; border: 1px solid #999;">
                                    {{amount}}
                                </td>
                                <td style="padding: 7px; border: 1px solid #999;">
                                    {{info}}
                                </td>
                            </tr>
                        </table>
                    {{/each}}
                </td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="5" style="padding: 7px; background-color: #999;">
                    <b>Repeating Debit</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 7px; border: 1px solid #999;">Month</td>
                <td colspan="3" style="padding: 7px; border: 1px solid #999;">Amount</td>
            </tr>
            {{#each repeating_debits}}
            <tr>
                <td colspan="2" style="padding: 7px; border: 1px solid #999;">{{@key}}</td>
                <td colspan="3" style="padding: 7px; border: 1px solid #999;">
                    {{#each .}}
                        <table style="width: 100%;">
                            <tr>
                                <td style="padding: 7px; border: 1px solid #999;">
                                    {{amount}}
                                </td>
                                <td style="padding: 7px; border: 1px solid #999;">
                                    {{info}}
                                </td>
                            </tr>
                        </table>
                    {{/each}}
                </td>
            </tr>
            {{/each}}
        </table>
    {{/each}}

    <br><br><br>
    <table style="width: 100%; background-color: rgb(0, 141, 0);">
        <tr>
            <td colspan="2" style="background-color: #999; padding: 7px;"><b>Salary</b></td>
        </tr>
        <tr>
            <td style="padding: 7px; border: 1px solid #999;"><b>Month</b></td>
            <td style="padding: 7px; border: 1px solid #999;"><b>Amount</b></td>
        </tr>
        {{#each data.salaries}}
        <tr>
            <td style="padding: 7px; border: 1px solid #999;">{{as_of}}</td>
            <td style="padding: 7px; border: 1px solid #999;">{{amount}}</td>
        </tr>
        {{/each}}
    </table>
    
    <table style="width: 100%;">
        <tr>
            <td colspan="3" style="background-color: #999; padding: 7px;"><b>Loans</b></td>
        </tr>
        {{#each data.loans}}
        <tr style="background-color: rgb(255, 115, 50);">
            <td style="padding: 7px; border: 1px solid #999;">Loans Ac: {{acct_no}}</td>
            <td style="padding: 7px; border: 1px solid #999;">Lender: {{lender}}</td>
            <td style="padding: 7px; border: 1px solid #999;">Loan type: {{loan_type}}</td>
        </tr>
        <tr>
            <td style="padding: 7px; border: 1px solid #999;">Month</td>
            <td style="padding: 7px; border: 1px solid #999;" colspan="2">Amount</td>
        </tr>
        {{#each emis}}
            <tr>
                <td style="padding: 7px; border: 1px solid #999;">{{as_of}}</td>
                <td style="padding: 7px; border: 1px solid #999;" colspan="2">{{amount}}</td>
            </tr>
        {{/each}}
        {{/each}}
    </table>

    <table style="width: 100%; background-color: rgb(100, 0, 0);">
        <tr>
            <td colspan="2" style="background-color: #999; padding: 7px;"><b>Bounces</b></td>
        </tr>
        <tr>
            <td style="padding: 7px; border: 1px solid #999;"><b>Month</b></td>
            <td style="padding: 7px; border: 1px solid #999;"><b>Count</b></td>
        </tr>
        {{#each data.bounces}}
        <tr>
            <td style="padding: 7px; border: 1px solid #999;">{{month}}</td>
            <td style="padding: 7px; border: 1px solid #999;">{{count}}</td>
        </tr>
        {{/each}}
    </table>

    <table style="width: 100%; background-color: rgb(100, 0, 0);">
        <tr>
            <td style="background-color: #999; padding: 7px;" colspan="3"><b>Overdues</b></td>
        </tr>
        <tr>
            <td style="padding: 7px; border: 1px solid #999;"><b>Due date</b></td>
            <td style="padding: 7px; border: 1px solid #999;"><b>Credit Card last four digits</b></td>
            <td style="padding: 7px; border: 1px solid #999;"><b>Due Amount</b></td>
        </tr>
        {{#each data.overdues}}
        <tr>
            <td style="padding: 7px; border: 1px solid #999;">{{due_date}}</td>
            <td style="padding: 7px; border: 1px solid #999;">{{card}}</td>
            <td style="padding: 7px; border: 1px solid #999;">{{due_amount}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>